<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" 
    integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Page</title>
</head>
<body>
    <u><h1 style="text-align: center;color:green">Login</h1></u><br/>
   <!-- <ul>
    <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
    </ul>
    <ul>
        <% if(messages.error){ %>
            <li><%= messages.error %></li>
            <% } %>
    </ul> -->
   <div style="width: 500px;text-align: center;border:1px solid black;
   justify-content: center;margin-left: 400px;border-radius: 30px;background-color: burlywood;"><br/>
    <form style="width: 500px;text-align: center;justify-content: center;" action="/users/login" method="POST">
        <div>
            <input type="text" id="id" name="id" placeholder="ID" required/>
        </div><br/>
        <div>
            <input type="password" id="pwd" name="pwd" placeholder="Password" required/>
        </div><br/>
        
        <div>
            <input style="background-color: blue;color: white;" type="submit" value="Login"/>
        </div><br/>
        New User?<a href="/users/register"> Register Here</a><br/>
    </form><br/>
</div>
</body>
</html>